<blockquote>
<p style="text-align: center;"><strong>WELCOME !</strong></p><br>
</blockquote>
<blockquote>
<p style="text-align: center;"><strong>A BIG IDEA: From shark attack </strong></p>
</blockquote>
<strong>-By Megan Snedden </strong>
<p style="text-align: justify;"><strong><a href="http://freequestionpaper.in/questionpaper/2014/08/p0254h6g.jpg"><img class=" wp-image-1352 alignleft" src="http://freequestionpaper.in/questionpaper/2014/08/p0254h6g-300x168.jpg" alt="p0254h6g" width="320" height="179" /></a>Inspiration from a shark attack- Rodney Fox was competing in a spear fishing competition off the coast of south Australia when a great white shark clamped onto the left side of his body, its jaws spanning from his arm to his waistline.</strong></p>
<p style="text-align: justify;"><strong>The near-fatal wound exposed Fox’s main heart artery and pierced his lung and diaphragm. It took 360 stitches to close him back up.</strong></p>
<p style="text-align: justify;"><strong>Following the attack, people in his hometown of Adelaide, Australia, were afraid to go into the ocean, he said. They quit local swimming clubs and stopped diving.</strong></p>
<p style="text-align: justify;"><strong>“I noticed there was an incredible feeling of terror and hatred toward sharks, great whites in particular. It was up there with the devil,” Fox said.</strong></p>
<p style="text-align: justify;"><strong>This fear, however, spurred a creative — and profitable — concept that changed his career path from life insurance salesman to inventor with a focus on sharks.</strong></p>
<p style="text-align: justify;"><strong>For people who endure some type of tragic life event, be it natural disaster, trauma or a life-altering injury, adversity sometimes brings an upside: a creative breakthrough that leads to a profitable idea.</strong></p>
<p style="text-align: justify;"><strong>Scroll through the images above to read about four other people who turned personal struggles — including fending off a would-be attacker and seeing the dream of playing professional sports die — into successful business ideas.</strong></p>
<p style="text-align: justify;"><strong>(Andrew Fox, Rodney Fox Shark Expeditions)</strong></p>
<p style="text-align: justify;"><strong>[posted on BBC-Capital]</strong></p>


<hr />
<p style="text-align: justify;"></p>